﻿<section>
<h2>Welcome to the PBS Dashboard Server</h2>
    <!--
<form action="/Sales/Day" method="get" runat="server">
@using (Html.BeginForm())
{

    <input name="d" id="d" type="text" /><br />
    <input name="p" id="p" type="text" />
    <input id="Submit1" type="submit" value="submit" />

}
</form>
</section>

<section>
<h2>Month data</h2>
<form action="/Sales/Month" method="get" runat="server">
@using (Html.BeginForm())
{

    <input name="d" id="d" type="text" /><br />
    <input name="p" id="p" type="text" />
    <input id="Submit1" type="submit" value="submit" />

}
</form>
</section>

<section>
<h2>Year data</h2>
<form action="/Sales/Year" method="get" runat="server">
@using (Html.BeginForm())
{

    <input name="d" id="d" type="text" /><br />
    <input name="p" id="p" type="text" />
    <input id="Submit1" type="submit" value="submit" />

}
</form>-->
</section>