﻿@model PPoS_MVC_Site.ViewModels.DataDayViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Day</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.dayDataTabular.TargetDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dayDataTabular.NumberOfCashSales)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dayDataTabular.TotalCash)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dayDataTabular.NumberOfCardSales)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dayDataTabular.TotalCard)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dayDataTabular.NumberOfChequeSales)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dayDataTabular.TotalCheque)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dayDataTabular.NumberOfLoyaltySales)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dayDataTabular.TotalLoyalty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dayDataTabular.NumberOfChargeSales)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dayDataTabular.TotalCharge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dayDataTabular.TotalGrand)
        </th>
        <th></th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(model => model.dayDataTabular.TargetDate)
        </td>
        <td>
            @Html.DisplayFor(model => model.dayDataTabular.NumberOfCashSales)
        </td>
        <td>
            @Html.DisplayFor(model => model.dayDataTabular.TotalCash)
        </td>
        <td>
            @Html.DisplayFor(model => model.dayDataTabular.NumberOfCardSales)
        </td>
        <td>
            @Html.DisplayFor(model => model.dayDataTabular.TotalCard)
        </td>
        <td>
            @Html.DisplayFor(model => model.dayDataTabular.NumberOfChequeSales)
        </td>
        <td>
            @Html.DisplayFor(model => model.dayDataTabular.TotalCheque)
        </td>
        <td>
            @Html.DisplayFor(model => model.dayDataTabular.NumberOfLoyaltySales)
        </td>
        <td>
            @Html.DisplayFor(model => model.dayDataTabular.TotalLoyalty)
        </td>
        <td>
            @Html.DisplayFor(model => model.dayDataTabular.NumberOfChargeSales)
        </td>
        <td>
            @Html.DisplayFor(model => model.dayDataTabular.TotalCharge)
        </td>
        <td>
            @Html.DisplayFor(model => model.dayDataTabular.TotalGrand)
        </td>
    </tr>


</table>
