﻿@model IEnumerable<PPoS_MVC_Site.Models.Sales_Journal>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date_Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Workstation_No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trans_No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Invoice_No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Account_No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product_Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department_No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pack_Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ave_Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sales_Tax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tax_Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discount_Amt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dicount_Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Line_Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Function_Key)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock_Level)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Branch_No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cashup_No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Extra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Table_No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tab_No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Covers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_Overide)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Room_No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Res_No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Instructions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order_no)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Points)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time_Placed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobCard_No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quote_No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Serial_No)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date_Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Workstation_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trans_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Invoice_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Account_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product_Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Qty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pack_Size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ave_Cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sales_Tax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tax_Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Discount_Amt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dicount_Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Line_Total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Function_Key)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stock_Level)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Branch_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cashup_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Extra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Table_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tab_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Covers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User_Overide)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Room_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Res_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Instructions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order_no)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Points)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time_Placed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobCard_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quote_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Serial_No)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Line_No }) |
            @Html.ActionLink("Details", "Details", new { id=item.Line_No }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Line_No })
        </td>
    </tr>
}

</table>
